<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Threadit - {{title}}</title>
        <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
        <script rel="script" src="/js/posts.js"></script>
        
    </head>
    <body class="container">
        {{{body}}}
         
    </body>
</html>