<h1>All Posts</h1>
<section>
{{#each posts}}
    <h3><a href="/posts/{{this._id}}">{{this.post_title}}</a></h3>
    <p>
        {{this.post_content}}
    </p>
{{/each}}
</section>
<a href="/posts/new">create new post</a>
<a href="/login">Login</a>
<a href="/sign-up">Sign Up</a>