<h1>All Posts</h1>
<section>
{{#each posts}}
    <h3><a href="/posts/{{this._id}}">{{this.post_title}}</a></h3>
    <p>
        {{this.post_content}}
    </p>
{{/each}}
</section>
<ul>
    {{#if currentUser}}
        <li><a href="/logout">Logout</a></li>
    {{else}}
        <li><a href="/login">Login</a></li>
        <li><a href="/sign-up">Sign Up</a></li>
    {{/if}}
    <a href="/posts/new">create new post</a>
</ul>