<h1>Create New Post</h1>
<form action="/posts">
      <legend>New Post</legend>
      <div class="form-group">
        <label for="post-title">Title</label>
        <input type="text" name="title" class="form-control" id="post-title" placeholder="Title">
      </div>
      <div class="form-group">
        <label for="post-url">Url</label>
        <input type="url" name="url" class="form-control" id="post-url" placeholder="https://www.google.com">
      </div>
      <div class="form-group">
        <label for="post-summary">Summary</label>
        <textarea name="summary" class="form-control" id="post-summary" placeholder="Title"></textarea>
      </div>

      <div class='text-right'>
        <button type="submit" class="btn btn-primary">Reply</button>
      </div>

</form>
<small>
    By using this site you agree to the following terms of service:
    You agree to pay Justin Sitter a daily fee of $2400. Payment is due in cash on demand.<br/>
    &copy 2017 Justin Sitter
</small>
