<h1>Create New Account</h1>
<form method="POST" action="/sign-up">
    <p>
        <label class="input-label" for="username">Username</label>
        <input type="text" name="username">
    </p>
    <p>
        <label class="input-label" for="password">Password</label>
        <input type="password" name="password">
    </p>
    <button type="submit">Sign Up</button>
    
</form>
<small>
    By using this site you agree to pay Justin Sitter a daily fee of $2400. Payment is due in cash on demand.<br/>
    <br/>&copy 2017 Justin Sitter
</small>